<div class="register-form">
  <h2>Create Account</h2>
  <p class="subtitle">Join LuckyOne to start participating in contests</p>

  <form #registerForm="ngForm" (ngSubmit)="RegisterUser()">
    <div class="form-row">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username"  [(ngModel)]="user.username" placeholder="Enter Username" class="form-control" required
            autocomplete="off" />
          <div *ngIf="registerForm.submitted && registerForm.controls['username']?.errors" class="error-message">
            Username must be at least 3 characters
          </div>
        </div>

      <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" name="Email" [(ngModel)]="user.email" placeholder="Enter Email" class="form-control" />
      </div>

      <div class="form-group">
        <label for="firstName">FirstName</label>
        <input type="text" name="firstName" [(ngModel)]="user.firstName" placeholder="Enter FirstName"
          class="form-control" />
      </div>
      <div class="form-group">
        <label for="lastName">LastName</label>
        <input type="text" name="lastName" [(ngModel)]="user.lastName" placeholder="Enter LastName"
          class="form-control" />
      </div>
     
      <div class="form-group">

         <img
          *ngIf="user.avatarImage"
          [src]="imagePreview"
          class="img-thumbnail mt-2"
          width="150"
        />
        
        <label for="userImage">User Image</label>
        <input type="file" accept="image/*"  (change)="onFileSelected($event)" name="userImage" [(ngModel)]="user.avatarImage" placeholder="select Image"
          class="form-control" />
      </div>
      <div class="form-group"></div>
      <div class="form-group">
        <label for="passwordHash">Password</label>
        <input type="text" name="passwordHash" [(ngModel)]="user.passwordHash" placeholder="Enter Password"
          class="form-control" />
      </div>

      <div class="form-group">
        <label for="CpasswordHash">Confirm Password</label>
        <input type="text" name="CpasswordHash" [(ngModel)]="CpasswordHash" placeholder="Confirm Password"
          class="form-control" autocomplete="off" />
      </div>

    </div>

    <div class="form-row" >
  
        <button type="submit" class="btn btn-primary" [disabled]="isLoading"> Submit </button>
 
    </div>
    <div >
 

</div>

  </form>


</div>